.container {
	position: absolute;
	top: 120px;left: 5%;right: 5%;
	width: auto;
}
button.hijau { color: #2ecc71; }
.myCampaign .atribusi {
	font-size: 15px;
	color: #666;
	margin-top: 20px;
}
.myCampaign .atribusi b {
	font-family: ProBold;
	color: #27ae60;
}